//////
//////
////// Ye Olde Typography
//////
//////

@font-face {
  src: url('/fonts/WarblerVariable[opsz,wght].woff2') format("woff2"),
       url('/fonts/WarblerVariable[opsz,wght].woff') format("woff");
  font-family: '';
  //font-style: ;
  //font-weight: ;
}

@font-face {
  src: url('/fonts/WarblerVariable-Italic[opsz,wght].woff2') format("woff2"),
       url('/fonts/WarblerVariable-Italic[opsz,wght].woff') format("woff");
  font-family: '';
  //font-style: ;
  //font-weight: ;
}

@font-face {
  src: url('/fonts/WarblerBanner-Regular.woff2') format("woff2"),
       url('/fonts/WarblerBanner-Regular.woff') format("woff");
  font-family: 'WarblerBanner';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('/fonts/WarblerBanner-Italic.woff2') format("woff2"),
       url('/fonts/WarblerBanner-Italic.woff') format("woff");
  font-family: 'WarblerBanner';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url('/fonts/WarblerBanner-Bold.woff2') format("woff2"),
       url('/fonts/WarblerBanner-Bold.woff') format("woff");
  font-family: 'WarblerBanner';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('/fonts/WarblerBanner-BoldItalic.woff2') format("woff2"),
       url('/fonts/WarblerBanner-BoldItalic.woff') format("woff");
  font-family: 'WarblerBanner';
  font-style: italic;
  font-weight: 700;
}

@font-face {
  src: url('/fonts/WarblerDisplay-Regular.woff2') format("woff2"),
       url('/fonts/WarblerDisplay-Regular.woff') format("woff");
  font-family: 'WarblerDisplay';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('/fonts/WarblerDisplay-Italic.woff2') format("woff2"),
       url('/fonts/WarblerDisplay-Italic.woff') format("woff");
  font-family: 'WarblerDisplay';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url('/fonts/WarblerDisplay-Bold.woff2') format("woff2"),
       url('/fonts/WarblerDisplay-Bold.woff') format("woff");
  font-family: 'WarblerDisplay';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('/fonts/WarblerDisplay-BoldItalic.woff2') format("woff2"),
       url('/fonts/WarblerDisplay-BoldItalic.woff') format("woff");
  font-family: 'WarblerDisplay';
  font-style: italic;
  font-weight: 700;
}

@font-face {
  src: url('/fonts/WarblerDeck-Regular.woff2') format("woff2"),
       url('/fonts/WarblerDeck-Regular.woff') format("woff");
  font-family: 'WarblerDeck';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('/fonts/WarblerDeck-Italic.woff2') format("woff2"),
       url('/fonts/WarblerDeck-Italic.woff') format("woff");
  font-family: 'WarblerDeck';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url('/fonts/WarblerDeck-Bold.woff2') format("woff2"),
       url('/fonts/WarblerDeck-Bold.woff') format("woff");
  font-family: 'WarblerDeck';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('/fonts/WarblerDeck-BoldItalic.woff2') format("woff2"),
       url('/fonts/WarblerDeck-BoldItalic.woff') format("woff");
  font-family: 'WarblerDeck';
  font-style: italic;
  font-weight: 700;
}

@font-face {
  src: url('/fonts/WarblerText-Regular.woff2') format("woff2"),
       url('/fonts/WarblerText-Regular.woff') format("woff");
  font-family: 'WarblerText';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('/fonts/WarblerText-Italic.woff2') format("woff2"),
       url('/fonts/WarblerText-Italic.woff') format("woff");
  font-family: 'WarblerText';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url('/fonts/WarblerText-Bold.woff2') format("woff2"),
       url('/fonts/WarblerText-Bold.woff') format("woff");
  font-family: 'WarblerText';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('/fonts/WarblerText-BoldItalic.woff2') format("woff2"),
       url('/fonts/WarblerText-BoldItalic.woff') format("woff");
  font-family: 'WarblerText';
  font-style: italic;
  font-weight: 700;
}


h1, h2, h3 {
  line-height: 2.7rem;
}

h1 {
  font-family: "WarblerBanner";
  font-style: italic;
  font-size: 5.6rem;
  line-height: 7rem;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-family: "WarblerDisplay";
  font-weight: 400;
}

h3, h4, h5 {
    font-family: "WarblerDisplay";
    font-weight: 400;
    font-variant-caps: small-caps;
    font-size: 1.7rem;
}

h5 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

p,
figcaption,
.figcaption,
article {
  font-family: "WarblerDisplay";
}

.figcaption {
  font-size: 1rem;
  text-align: center;
}
