@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  //font-family: "Playfair Display";
  //padding: 10vh 1rem;
  background-color: #efebe2;
  color: #231f20;
}

.inner {
  max-width: 43rem;
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 2.1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

a {
  //color: lighten(#1E656D, 10%);
  color: #231f20;
  text-decoration: underline;
  text-decoration-color: #F62A00;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
  &:hover {
    color: #F62A00;
  }
}

.center {
  text-align: center;
}

figcaption {
  font-size: 1rem;
  text-align: center;
  + p {
    margin-top: 3rem;
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: #CCC;
  width: 100%;
  margin: 2rem 0;
  clear: both;
  &.section-break {
    width: 20%;
    margin: 4rem auto;
    background-color: #CCC;
  }
}

ul {
  list-style-type: disc;
  margin-left: 3rem;
  font-size: 1.3rem;
}

//////
//////
////// Newsletter Signups
//////
//////

.newsletter_index h1 ~ p,
.newsletter_index form {
  text-align: center;
}

form {
  margin: 0 auto;
}

input {
  border-radius: 3px;
  border: 0;
  padding: .5rem;
  display: inline;
  font-size: 1rem;
  &:focus {
    outline: 0;
  }
}

input[type=submit] {
  //background-color: $pink;
  //color: $white;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: .5rem;
  letter-spacing: 3px;
  //margin-top: 1rem;
  //border-radius: 25px;
  //font-size: $font-size-small;
  text-transform: uppercase;
  //font-weight: $font-weight-light;
  //font-family: $font-heading;
  //@include breakpoint(medium) {
  //  margin-top: 0;
  background-color: lighten(#1E656D, 10%);
  color: #FFF;
  //}
  &:hover {
    cursor: pointer;
  }
}

.mini {
  h3 {
    line-height: 2.4rem;
  }
  .mini-header {
    font-size: 2rem;
    margin-bottom: .5rem;
    display: block;
    padding-top: 2rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  &.tb-signup {
    padding-bottom: 0 !important;
  }
  #bd-email {
    border: 1px solid #e3e3e3;
    width: 70%;
  //  @include breakpoint(large) {
    //  width: 75%;
    //}
  }
  h4 {
    margin-bottom: 1rem;
  }
}

.subscribe-flow {
  margin-top: 4rem;
}

.locations {
  margin-top: 3rem;
  margin-bottom: 3rem;
  p {
    font-size: 1rem;
    font-family: "WarblerDisplayItalic";
    //font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }
}

//////
//////
////// the becoming
//////
//////

.the-becoming {
  background: rgb(251, 249, 238);
  .figurehead, .home {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    + h1 {
      margin-top: 0;
    }
  }
  .home {
    margin-top: 3rem;
    text-decoration: none;
    margin-bottom: 3rem;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  article {
    color: #494345;
    a {
      color: #494345;
      &:hover {
        color: #F62A00;
      }
    }
    p {
      margin-bottom: 2rem;
    }
    strong {
      font-weight: 400;
      background-color: #efebe2;
    }
    blockquote {
      font-size: 2rem;
      font-style: italic;
      line-height: 3rem;
      padding-right: 1rem;
      padding-left: 2rem;
      border-left: 3px solid #CCC;
      margin-left: 1rem;
    }
    li {
      margin-bottom: 1rem;
    }
  }
  .figcaption + p {
    margin-top: 3rem;
  }

  .footnotes {
    border-top: 1px solid #CCC;
    padding-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
    ol {
      padding-left: 1.5rem;
    }
  }
}
