<% wrap_layout :layout do %>

<section class="newsletter">
  <div class="inner">
    <article>
      <%= link_to('home', '/', class: "home") %>
      <span class="figurehead">the becoming</span>
      <h1><%= current_page.data.title %></h1>
      <%= yield %>
    </article>
  </div>
</section>

<section class="newsletter">
  <div class="inner">
    <hr />
    <div class="mini">
      <h4>subscribe to the becoming</h4>
      <p>A joyfully irregular newsletter about my research, as well as personal essays, things that have caught my attention, amazing books I’ve read, and stuff that has been occupying my brain.</p>
      <%= partial "tb_form" %>
    </div>
  </div>
</section>

<% end %>
