---
title: You are confirmed!
description: A page that exists as part of the subscription process for the newsletter the becoming
keywords: newsletter, the becoming
layout: layout
---

<section class="subscribe-flow">
  <div class="inner">
    <h2>Yes! Confirmed!</h2>

    <p>Thank you for signing up, I'm so glad you are here.</p>

    <%= image_tag("flowers.jpg") %>
    <figcaption>Image courtesy of <%= link_to('The New York Public Library', 'https://unsplash.com/@nypl') %></figcaption>

  </div>
</section>
