---
title: Who is Andrea Mignolo?
---

<p class="hi">Andrea (aka Andi) is an American designer, writer, and seeker interested in complexity, deep imagination, emergence, and learning. By day she is an <a href="https://methodandmatter.com">executive coach</a> working with unconventional leaders and teams. By night she is the President of <a href="https://ixda.org">Interaction Design Association</a> serving on the global Board of Directors. In the liminal hours she spends time with her experimental ongological design studio <a href="https://pnts.us">PNTS.US</a>. Prior to coaching, Andrea was a design and product executive at a number of start-ups, an English teacher at the Japanese Air Self-Defense Force, and developed the once-popular <a href="https://wordpress.com/blog/2010/08/16/new-theme-oulipo/">Oulipo Wordpress Theme</a>.<p>

<p class="updated">Updated October 8th, 2022</p>
