---
title: Andrea (Andi) Mignolo
description: About Andrea Mignolo - coach, designer, speaker, writer
keywords: executive coach, Andrea Mignolo, Andi Mignolo, design executive, product executive, the becoming, ontological design
---

<p class="hi">Andrea (aka Andi) is an American designer, writer, and seeker interested in complexity, deep imagination, emergence, and learning. By day she is an <a href="https://methodandmatter.com">executive coach</a> working with unconventional leaders and teams. By night she writes <a href="https://methodandmatter.com/the-becoming">the becoming</a>, a newsletter that sits at the edge of the known and unknown, exploring leadership, change, and what it means to be human. In the liminal hours she spends time with her experimental ontological design studio <a href="https://pnts.us">P N T S . U S</a>. Prior to coaching, Andi was a <a href="https://www.linkedin.com/in/mignolo/">design and product executive</a> at a number of start-ups, President of the <a href="https://ixda.org">Interaction Design Association</a>, an English teacher at the Japanese Air Self-Defense Force, and developed the once-popular <a href="https://wordpress.com/blog/2010/08/16/new-theme-oulipo/">Oulipo Wordpress Theme</a>.<p>

<p class="updated">Updated April 18th, 2022</p>
