---
title: Andrea (Andi) Mignolo
description: About Andrea Mignolo - coach, designer, speaker, writer
keywords: executive coach, integration coach, consciousness, spirituality, Andrea Mignolo, Andi Mignolo, design executive, product executive, the becoming, words make worlds, somatics
---

<p class="hi">Andrea (aka Andi) is an American designer, writer, and seeker interested in complexity, consciousness, emergence, and learning. By day she is an <a href="https://methodandmatter.com" rel="me">executive coach</a> working with leaders and teams dedicated to profound and lasting change. By night she writes <a href="https://methodandmatter.com/the-becoming">the becoming</a>, a newsletter that sits at the edge of the known and unknown. She also runs the cohort-based course <a href="https://maven.com/andrea-mignolo/leader-as-coach">Leader as Coach</a> and the newsletter <a href="https://methodandmatter.com/words-make-worlds">Words Make Worlds</a> - endeavors dedicated to teaching leaders the art, science, and craft of the Coaching Leadership Style. Andi is a fully certified <a href="https://realizationprocess.org">Realization Process</a> teacher, a student of <a href="https://plumblossom.net">Choy Li Fut Kung Fu</a>, and a <a href="https://dreamtending.com">Dream Tender</a>. Prior to coaching, Andi was a <a href="https://www.linkedin.com/in/mignolo/">design and product executive</a> at a number of start-ups, President of the <a href="https://ixda.org">Interaction Design Association</a>, and an English teacher at the Japanese Air Self-Defense Force.</p>

<p class="updated">Updated June 23rd, 2023</p>
