---
title: Subscribe to the becoming
description: The signup page for the becoming, a newsletter about listening, books, research, and life.
keywords: newsletter, the becoming
layout: layout
---

<section class="newsletter">
  <div class="inner">
    <div class="mini">
      <h1>the becoming</h1>
      <p>A joyfully irregular newsletter about about listening, life, and books.</p>
      <%= partial "tb_form" %>
    </div>
  </div>
</section>
