<section class="newsletter">
  <div class="inner">
    <div class="mini">
      <h1>the becoming</h1>
      <p>A joyfully irregular newsletter about my research, as well as personal essays, things that have caught my attention, amazing books I’ve read, and stuff that has been occupying my brain.</p>
      <%= partial "tb_form" %>
      <h5>previously:</h5>
        <% blog('the-becoming').articles.each do |article| %>
          <ul>
            <li><%= link_to article.data.title, article %> </li>
          </ul>
        <% end %>
    </div>
  </div>
</section>
