---
title: Thank you for subscribing!
description: A page that exists as part of the subscription process for the newsletter the becoming
keywords: newsletter, the becoming
layout: layout
---

<section class="subscribe-flow">
  <div class="inner">
    <h2>Thank you for subscribing!</h2>

    <p>To make sure everything is in order and that you do indeed want to subscribe, check your inbox where you will see an email to confirm your subscription.</p>

    <%= image_tag("bird.jpg") %>
    <figcaption>Image courtesy of <%= link_to('The New York Public Library', 'https://unsplash.com/@nypl') %></figcaption>

  </div>
</section>
